*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chelsea Market", sans-serif;
    
    }
    :root{
        --primary-color: rgb(15, 166, 85);
    }




    .header {
        overflow: hidden;
        /* background-color: #f1f1f1; */
        padding: 15px 0px 5px 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 100px;
    }
      .logo{
        width: 140px;
        height: 90px;
        padding: 0;
      }
      
      /* Style the header links */
      .header a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        cursor: pointer;
        border-radius: 4px;
      }
    
      
      /* Change the background color on mouse-over */
      .header a:hover {
        background-color: #c6c6c6;
        color: black;
        transition: all ease-in-out 1s;
      }
      
      /* Style the active/current link*/
      .header a.active {
        background-color: var(--primary-color);
        color: white;
      }
      
      /* Float the link section to the right */
      .header-right {
        float: right;
      }
  
      .buttons button{
        padding: 18px;
        border-radius: 15px;
        cursor: pointer;
        border: none;
      }
      .buttons button:hover{
        background-color: rgb(15, 166, 85);
        color: white;
        transition: all ease-in-out 1s;
      }
      .buttons button a{
        text-decoration: none;
       
        
      }
      /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
      @media screen and (max-width: 800px) {

        .header{
            display: flex;
            flex-direction: column;

            .logo{
                width: 180px;
                height: 110px;
                padding: 0;
              }
              
            .buttons{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            .buttons button:hover{
                background-color: rgb(15, 166, 85);
                color: white;
                transition: all ease-in-out 1s;
              }
        }
        
        .header a {
          float: none;
          display: block;
          text-align: left;
        }
        .header-right {
          float: none;
        }
          .buttons button a{
            text-decoration: none;
            cursor: pointer;
            
          }
       
      }
 section{

    .hero-text{
        width: 550px;
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        p{
            line-height: 30px;
        }
    }

    .button-hero{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: -60px;
    }
    
    .button-hero button{
        padding: 20px;
        border-radius: 15px;
        background-color:  rgb(15, 166, 85);
        border: none;

    }
    .button-hero button:hover{
        background-color: #bcc2c0;
        color: black;
        transition: all ease-in-out 1s;
      }
      .button-hero button a{
        text-decoration: none;
        cursor: pointer;
        
      }
 }
 @media screen and (max-width: 800px) {
    section{

        .hero-text{
            line-height: 40px;
            width: 85%;
            font-size: 22px;
            display: flex;
            margin: auto;
            text-align: end;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p{
                line-height: 39px;
            }
        }
        
        .button-hero button{
            padding: 20px;
            border-radius: 15px;
            color: #fff;
            cursor: pointer;

        }
        .button-hero{
            display: flex;
            justify-content: center;
            margin-top: 40px;
            margin-bottom: 30px;
            cursor: pointer;
        }
        .button-hero a{
            text-decoration: none;
        }
        
     } 
 }
 section{

    .hero-image{
        width: 100%;
        padding: 5%;
    }
 }
 /*our story + numbers section styling*/
 section{
    .our-story{
        width: 100%;
        padding-left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;

        .before-numbers{
          

            .numbers-section{
                display: flex;
                margin-top: 40px;
                gap: 20px;
            }
        }

       
        .numbers-image{
            
            width: 100%;
        }
    }
 }
 @media screen and (max-width: 600px) {
    .our-story{
        width: 100%;
        padding: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }
 }

 @media screen and (max-width: 600px) {
    .how-we-section{
        width: 100%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
 }

 @media only screen and (min-width: 1440px) and (max-width: 2560px) { 
    header{
        margin-bottom: 250px;

        .logo{
            width: 180px;
            height: 120px;
            padding: 0;
          }
          
          /* Style the header links */
          .header a {
            font-size: 38px;
           
          }
          .buttons button{
            font-size: 38px;
            padding: 25px;
          }

    }
    section{

        .hero-text{
            width: 1000px;
            display: flex;

            h2{
                font-size: 70px;
                margin-bottom: 19px;
            }
    
            p{
                line-height: 75px;
                font-size: 43px;
            }
        } 
        .button-hero button{
            padding: 40px;
            border-radius: 15px;
            font-size: 30px;
            cursor: pointer;
            background-color:  rgb(15, 166, 85);
        }
    }
    section{
        .our-story{
            font-size: 24px;
        }
    }
   
 }

 @media only screen and (min-width: 2400px) and (max-width: 2560px) { 
    header{
        margin-bottom: 250px;

        .logo{
            width: 250px;
            height: 160px;
            padding: 0;
          }
          
          /* Style the header links */
          .header a {
            font-size: 56px;
            margin-right: 20px;
           
          }
          .buttons button{
            font-size: 50px;
            padding: 25px;
          }

    }
    section{

        .hero-text{
            width: 1700px;
            display: flex;

            h2{
                font-size: 76px;
                margin-bottom: 69px;
            }
    
            p{
                line-height: 120px;
                font-size: 70px;
            }
        } 
        .button-hero button{
            padding: 60px;
            border-radius: 15px;
            font-size: 66px;
            cursor: pointer;
            background-color:  var(--primary-color);
            margin-top: 70px;
        }
    }
    section{
        .our-story{
            font-size: 44px;

            .numbers-section{
                gap: 50px;
            }
        }
    }
   
 }
 .updated-section{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    padding: 15px;
    


.updated{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 29px;
    height: auto;
    width: 650px;
    background-color: #183f29;
    font-size: 23px;
    color: #fff;
    border-radius: 25px;

 button{
    padding: 20px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    color: #000;
    font-size: 22px;
 }
  a{
    text-decoration: none;
 }
 button:hover{
    background-color: #044110;
    color: #fff;
 }
}
}
@media only screen and (min-width: 2400px) and (max-width: 2560px) { 

    .updated-section{
        margin-top: 140px;
       
        .updated{
            width: 900px;
            height: auto;

            h1{
                font-size: 40px;
            }

            button{
                padding: 29px;
                font-size: 32px;
            }
        }
    }
}

 section{
    .how-we-section{
        display: grid;
        justify-content: center;
        align-items: center;

        h1{
            margin-top: 40px;
            margin-bottom: 30px;
            font-size: 27px;
            text-align: center;
        }
    
    .how-we{
        width: 100%;
    }
}
 }

 @media only screen and (min-width: 1000px) and (max-width: 1442px) { 
 .how-we-section{
        

    h1{
        display: grid;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 130px;
        font-size: 37px;
        align-items: center;

    }
    a{
        color: black;
    }

.how-we{
    width: 100%;
}
}
 }

 @media only screen and (min-width: 2400px) and (max-width: 2560px) {  
    section{
        .how-we-section{
            
    
            h1{
                display: grid;
                justify-content: center;
                margin-top: 120px;
                margin-bottom: 90px;
                font-size: 104px;
                align-items: center;
        
            }
 }
}
  }

  
  /*footer styling*/
  footer{
    width: 100%;
    background-color: #183f29;
    height: 370px;
    font-size: small;
    font-weight: lighter;
    

    .auc-footer{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        justify-content: space-around;
        padding: 5%;
        

        p{
            text-align: start;
        }

        .first-footer-text{
            color: #fff;
        }
        .second-footer-text{
            display: flex;
            flex-direction: column;
            gap: 20px;

            a{
                text-decoration: none;
                color: #fff;
            }
        }
        .third-footer-text{
            display: flex;
            flex-direction: column;
            gap: 20px;

            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
    hr{
        width: 50%;
        margin-bottom: 20px;
        
        margin: auto;
    }
    p{
       text-align: center;
       color: #fff;
       margin-top: 13px;
    }
  }

  @media only screen and (max-width: 800px){
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #183f29;
        font-size: small;
        font-weight: lighter;
        height: auto;
    
        .auc-footer{
            width: 100%;
            display: flex;
            gap: 40px;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            padding: 5%;
            
    
            p{
                text-align: start;
            }
    
            .first-footer-text{
                color: #fff;
                width: 55%;
            }
            .second-footer-text{
                display: flex;
                flex-direction: column;
                gap: 20px;
    
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
            .third-footer-text{
                display: flex;
                flex-direction: column;
                gap: 20px;
    
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        hr{
            width: auto;
            margin-bottom: 20px;
        }
        p{
           text-align: start;
           padding: 3%;
           color: #fff;
           margin-top: 13px;
        }
      }
  }
  @media only screen and (min-width: 2000px) and (max-width: 2560px){
    footer{
        font-size: 23px;
        height: auto;
    }
  }

body{

    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
      }
}